<mat-card>
    <form [formGroup]="diffForm">
            <mat-grid-list cols="2" rowHeight="500px">
                    <mat-grid-tile>
                        <mat-card>
                            <mat-card-title>Before</mat-card-title>
                            <textarea rows="10" matInput formControlName="left"></textarea>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card>
                            <mat-card-title>After</mat-card-title>
                            <textarea rows="10" matInput formControlName="right"></textarea>
                        </mat-card>
                    </mat-grid-tile>
            </mat-grid-list>
            <button (click)="setDiff()">Save</button>
        </form>
        <pre semanticDiff [left]="left" [right]="right"></pre>
</mat-card>
